.App {
  text-align: center;
}

html {
  font-size: 100%; }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }

:root {
  --color-1: #eaeaea;
  --color-2: #2dedbd;
  --color-3: #494949;
}
      

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.header{
  position: relative;
}

/* UserBar */

.user-navigation{
  position: fixed;
  left:0;
  top:0;

  width:100%;
  height:3.5rem;

  background-color: #ad8a28;

  z-index: 9999;
}

.user-nav__item > a{
  color: white ;

  transition: 200ms;
}

.user-nav__item > a:hover{
  text-decoration: none;

  background-color: white;

  color:#ad8a28;

  transform: scale(1.1)
}

.user-nav__color{
  
}

.user-nav__font{
  font-size:1rem;
}

.user-nav__border{
  border-top:1px solid #b9b9b9;
  border-bottom:1px solid #b9b9b9;
}

.user-nav__item--border-right{
  border-right:1px solid #b9b9b9;
}
.user-nav__item--border-both{
  border-right:1px solid #b9b9b9;
  border-left:1px solid #b9b9b9;
}

.nav-link{
  color: inherit !important;
}

/* SECTION */
.section-new-product{
  margin:3rem 2rem;
}

.section-stories {
  padding: 5rem 0;
  position: relative; }
  @media (max-width: 56.25em) {
    .section-stories {
      padding: 2.5rem 0; } }

.section-all-product{
  background-color: #94cdcb85;
}

.section-service{
  position: relative
  ;
  padding: 3rem;
}

.section-certificate{
  padding:3rem;

  background-image: url('../../image/10858.jpg');
  background-size:cover;
  background-position: center;
}
/* HOMEPAGE */

  /* Navbar */
.navigation{
  margin-top:3.5rem;

  padding:0rem 5rem;

}

.nav {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.nav > li {
  position: relative;
  display: block;
}

.nav>li>a {
  position: relative;
  display: block;
  padding: 1rem 1.5rem;
}

.navigation_nav{
  display:flex;
  align-items: center;
}

.nav__logo{
  float:left;
}

.nav__service{
  position: relative;
  display: block;
  padding: 1rem 1.5rem;
}

.nav__link{
  text-transform: uppercase;

  color:#727272;

  transition:200ms;
}
.service__group{
  width:200%;

  position: absolute;
  top:100%;
  left:0;

  text-align: left;
  text-transform: none;

  background-color: white;

  z-index:9999;

  border:1px solid lightgray;
  border-collapse: collapse;

  display: none;

}

.nav__service:hover .service__group{
  display:block;

  animation: moveBottom 1s ease 0.75s;
  animation-fill-mode: backwards;
}

.service__item{
  width:100%;

  padding: 1rem 1.5rem;

  border-bottom:1px solid lightgray;

  transition: 200ms;

  
}

.nav__service .service__item:hover{
  background-color:lightgray;

  color:#c0a562da;


}

.nav__item:hover > .nav__link, .nav__item:hover .nav__service .nav__link{
  text-decoration: none;

  color:#c0a562da;
}

.footer{
  padding:2rem 1.5rem;
  
  background-color: #faffd9a9;
  
/* utility class */

}
.u-font-size-small{
  font-size:.75rem !important;
}

.u-margin-bottom-small{
  margin-bottom: 1rem; }
  @media (max-width: 56.25em) {
    .u-margin-bottom-small {
      margin-bottom: .5rem; } }

.u-margin-bottom-medium{
  margin-bottom: 2rem; }
  @media (max-width: 56.25em) {
    .u-margin-bottom-medium {
      margin-bottom: 1rem; } }

.u-margin-bottom-big {
  margin-bottom: 4rem; }
  @media (max-width: 56.25em) {
    .u-margin-bottom-big {
      margin-bottom: 2rem; } }

.u-color-instagram{ 
  position: relative;
  display: inline-block;

  width: 2.2rem;

  text-align: center;
  color: #fff;
  font-size: 1.9rem;
  vertical-align: center;

  border-radius: 3px;
  background: #d6249f;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
  } 
  .u-color-instagram::before{
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%)
  }

.u-color-facebook{
  color:#3b5998;
}

.u-color-google-plus{
  color:#db4a39;
}

.u-color-twitter{
  color: rgb(29, 202, 255)
}
/* Featured Component */

.featured{
  height:50rem;

  position: relative;
}

.featured__text{
  position: absolute;
  top:50%;
  left:30%;
  transform: translate(-50%,-50%);

  text-align: left;

  width:30%;

}

.featured__text--main{
  color: #fabf2b;

  text-transform: uppercase;

  letter-spacing: 1px;

  font-size:2rem;

}

.featured__image{
  width:100%;
}

.featured__button{
  color:white !important  ;
}

.u-width-800px-height-300px{
  width:1000px;
  height:400px;
}

.carousel-item .carousel-caption{
  display: flex !important;
  flex-direction: column;
  
  width:30%;
  
  top: 35%;
  left: 15%;
  bottom: auto;

  font-size: .8rem;

  color: black;
  
}


.carousel-item .carousel-caption h3{
  font-size: 1.2rem;

  text-transform:uppercase;
}
/* New Component */

.new__item--card{
  padding:1rem;
  padding-bottom:0;

  margin-left:.25rem;
  margin-right:.25rem;

  border-radius: 10px !important;

  border-color: rgb(233, 233, 233) !important;
  
  overflow: hidden;

}

.new__item-discount{
  width: 100%;
  height: 5%;

  position: absolute;
  top: 6%;
  left: -35%;
  
  transform: rotate(-43deg);

  border:1px solid #ffd772;
}

.card-title{
  font-size: 1.25rem;
  font-weight: 700;
  color: #ffd772;
}

.new__item--card:hover .new__item--cardimg{
  transform: scale(1.1);
}

.new__item--cardimg{
  transform: scale(.9);

  border-radius: 50% !important;
  border: 1px solid gold;
  
  transition:400ms;
}

.card .new__item--button{
  
  background-color: #8c7f3b;
  color:white;

}


/* ListItem Component */
.pagination{
  justify-content: center;
}

.z-index-9999{
  z-index: 9999;
}

.u-color-transparent{
  background-color: transparent !important;
  color:inherit !important;
  border-color: transparent !important;
  border-bottom:none !important;
}

.u-color-transparent:hover{
  border-color: #e9ecef #e9ecef #dee2e6 !important;
}

.u-opacity-0{
  opacity: 0;
}

.u-margin-top-small{
  margin-top: .75rem;
}

.u-margin-top-medium{
  margin-top: 2rem;
}

.u-margin-top-big{
  margin-top: 4rem;
}



/* Item Component */
.group__button{
  padding-top:1rem;
  
} 

.group__button--font{
  font-size:.9rem !important;
}

.group__button--button{
  width:50%;

  background-color: inherit;
  
  border-radius: 100px;
  border:1px solid transparent;

  padding: .6rem .5rem;
  margin-left: .5rem;
  margin-right: .5rem;

  transition: 300ms;
  outline:none;

  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.2);
}

.group__button--button:focus{
  outline:none;
}


.group__button--button:hover{
  background-color: white;
  color:gold;
  border:1px solid gold;

  transform: translateY(-.1rem);
}

.group__button--button:active{
  transform: translateY(.25rem);

  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
}

.u-text-decoration-linethough{
  text-decoration: line-through;
}

.u-text-transform-uppercase{
  text-transform: uppercase;

  font-weight:700;
}

.item__price{
  padding:0 1rem;

  align-items: center;
  justify-content: center;
}

.item__price > * {
  padding: .5rem;
}

/* SpaService Component */

.service__item--img img{
  width:20rem;
  height:20rem;

  border-radius: 50%;

  /* background-image: url('../../image/cat-logo.jpg');
  background-size: cover;
  background-position: center; */
}

.service__item--img:hover .service__item--description{
  opacity: .7;

  transform: translateX(-50%) scale(1)
}

.service__item--description{
  top:0;
  left:50%;

  width:20rem;
  height:20rem;

  border-radius: 50%;

  text-align: center;

  background: goldenrod;

  transform: translateX(-50%) scale(.2);
  transition: 400ms;

  opacity: 0;

}

.service__item--description-text{
  top:50%;
  left:50%;

  width:15rem;

  color:white;

  transform: translate(-50%,-50%);
}

.service__list .react-multiple-carousel__arrow{
  background-color: transparent;
}

.service__list .react-multiple-carousel__arrow::before{
  color:black;
}

/* Footer Component */

.footer__header{
  position: relative;

  color:#ad8300;

  padding: 1rem 0;

  font-size: 1.5rem;
  letter-spacing: .2rem;

  
}

.footer__header--border-image{
  color: #464646;

  position: absolute;
  left:5%;
  top:88%;

}
.footer__header--border-color{
  width:30%;
  height:.3rem; 

  background-color: #ffc95b;

  position: absolute;
  left:16%;
  top:98%;
}



.footer__list-info{
  text-decoration: none;
  list-style: none;
  padding-left: 0;
}
.footer__list-info li:before {
  content: "\2023";
  margin-right: .5rem;
}

.footer__list-info__item {
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, rgb(255, 195, 85) 50%);
  background-size: 220%;
  transition: all .4s; }

.footer__list-info__item:hover, .footer__list-info__item:active {
  background-position: 100%;
  color: white;
  transform: translateX(.5rem); }


.footer__list-info__item{
  
  margin-top:.5rem;
  
  padding: .5rem .5rem;
  padding-bottom: .5rem;
  
  font-size:1.1rem;

  color:rgb(75, 75, 75);

  border-bottom: 1px dashed gray;
  
}

.footer__list-social-network{
  font-size:2.2rem;

  display: flex;
  flex-direction: row;
  justify-content: center;

}


.footer__list-social-network--item:not(:last-child){
  margin-right:1rem;
}

.footer__list-social-network--item{
  transition:300ms;
}

.footer__list-social-network--item:hover{
  transform: scale(1.3);
}
.footer__logo{
  width:70%;

  margin-top: 1rem;
  margin-bottom: 1rem;

  background-color: aqua;
}

.footer__logo img{
  border-radius:3px;
}

/* Story component */
.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: .2;
  width: 100%;
  height: 100%;
  overflow: hidden; }
  .bg-video__content {
    height: 100%;
    width: 100%;
    object-fit: cover; }
.story {
  width: 65%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 3px;
  padding: 1.5rem 2rem;
  transform: skewX(-12deg); }
  .story__shape {
    width: 8rem;
    height: 8rem;
    background-color: lightblue;
    float: left;
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    transform: skewX(12deg);
    position: relative; }
  .story:hover .story__caption {
    opacity: 1;
    transform: translate(-50%, -50%); }
  .story:hover .story__img {
    transform: translateX(0) scale(1);
    filter: blur(3px) brightness(80%); }
  .story__img {
    height: 100%;
    transform: translateX(0rem) scale(1.2);
    transition: all .5s; }
  .story__caption {
    position: absolute;
    top: 50%;
    left: 50%;

    color: #fff;
    font-size:1rem;

    transform: translate(-50%, 20%);

    text-align: center;
    text-transform: uppercase;

    opacity: 0;
    transition: all .5s; }
  .story__text {
    font-size: 1rem;
    transform: translateX(1rem) skewX(12deg); }

    .story__row {
      max-width: 114rem;
      margin: 0 auto; }
      .story__row:not(:last-child) {
        margin-bottom: 4rem; }
        @media (max-width: 56.25em) {
          .story__row:not(:last-child) {
            margin-bottom: 2rem; } }
      @media (max-width: 56.25em) {
        .story__row {
          /* max-width: 50rem; */
          padding: 0 3rem; } }

/* CartItem Component */
  /* Cart left */
  .cart-item{
    display:flex;
    align-items:center;
  }

  .cart-item__img{
    width:10rem;
    height:10rem;

    border-radius: 50%;


  }

  .cart-item .cart-item__content{
    position: relative;

    min-width: 65%;

    text-align: left;
  }

    .cart-item__content .cart-item--button{
      position: absolute;
      top:0%;
      right:3%;

      
    }

    .cart-item__group--button-left,.cart-item__group--button-right{
      background-color: transparent;
      
      border:1px solid lightgray;
    }

    .cart-item__group--button:focus{
      outline:none;
    }

    .cart-item__group--span{
      padding:.25rem;

      margin: auto .5rem;
    }

  .cart-item__button{
    text-align: right;
  }
    
  /* Cart right */

  .cart__right{
    padding: 1rem;

  }

  .cart__right table th,.cart__right table td{
    border-top:none;
    border-bottom: 1px solid #dee2e6;
  }

  .cart__right table th:first-child, .cart__right table td:first-child{
    text-align: left;
  }

  

/* Cart Pages */

.cart__container{
  display: flex;
  width:100%;
  
}


.cart__left{
  flex-grow:1.5;

  padding: 1rem 2rem 1rem 5rem;
  background-color: lightblue;
}


.cart__right{
  flex-grow: 1;
  background-color: lightcoral;
}



/* ANIMATION */

.featured__carousel-animation{
  animation: moveLeft 1s ease 0.75s;
    animation-fill-mode: backwards;

}
.featured__carousel__button-animation{
  animation: moveBottom 1s ease 0.75s;
    animation-fill-mode: backwards;

}

/* FlyToCart Css */

.flyingBtn {
  z-index: 9999;
  transform-origin: center bottom;
  transform: scale(1);

  border-radius: 100px;
}

#header-shop #cart button {
  font-size: 1.5rem;
  height: 100%;
  color: var(--color-2);
  background: rgba(0, 0, 0, 0.2);
  width: 2em;
  border-radius: 5px;
  outline: none;
  position: relative;
  -webkit-box-shadow: 0px 6px 3px -3px rgba(0, 0, 0, 0.2) inset;
  -moz-box-shadow: 0px 6px 3px -3px rgba(0, 0, 0, 0.2) inset;
  box-shadow: 0px 6px 3px -3px rgba(0, 0, 0, 0.2) inset;
}

#header-shop #cart button[data-count]::after {
  content: attr(data-count);
  display: block;
  position: absolute;
  font-size: 0.7rem;
  background: var(--color-3);
  color: var(--color-2);
  font-weight: bold;
  border-radius: 100px;
  padding: 0 0.25em;
  right: 5%;
  bottom: 5%;
}

#header-shop #cart button[data-count].addedCount::after {
  animation-name: shakeUp;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
}


[data-addToCart] {
  background: var(--color-2);
  width: 2rem;
  height: 2rem;
  border: none;
  border-radius: 100%;
  color: white;
  outline: none;
  -webkit-box-shadow: 0px 6px 3px -3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 6px 3px -3px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 6px 3px -3px rgba(0, 0, 0, 0.2);
}

[data-addToCart]:hover {
  cursor: pointer;
  opacity: 0.5;
}

@keyframes shakeUp {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  50% {
    transform: translateY(-50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes moveBottom {
  0% {
    opacity: 0;
    transform: translateY(10rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }
@keyframes moveLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  70% {
    opacity: 1;
    transform: translateX(2rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0); } }

