.App {
  text-align: center;
}

html {
  font-size: 100%; }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


.user-nav__color{
  color: #b9b9b9 !important;
}

.user-nav__font{
  font-size:.8rem;
}

.user-nav__border{
  border-top:1px solid #b9b9b9;
  border-bottom:1px solid #b9b9b9;
}

.user-nav__item--border-right{
  border-right:1px solid #b9b9b9;
}
.user-nav__item--border-both{
  border-right:1px solid #b9b9b9;
  border-left:1px solid #b9b9b9;
}

.nav-link{
  color: inherit !important;
}

body{
  /* background-color: #000 !important; */
}

.red{
  background-color: red;
  /* width:200px;
  height:200px; */
  width:33.33%;
  display: inline-block;
}

.green{
  background-color: green;
  /* width:200px;
  height:200px; */
  width:33.33%;
  display: inline-block;
}

.blue{
  background-color: blue;
  /* width:200px;
  height:200px; */
  width:33.33%;
  display: inline-block;
}

/* SECTION */
.section-new-product{
  margin:3rem 2rem;
}

.section-stories {
  padding: 5rem 0;
  position: relative; }
  @media (max-width: 56.25em) {
    .section-stories {
      padding: 2.5rem 0; } }

.section-all-product{
  background-color: #94cdcb85;
}

.section-service{
  position: relative
  ;
  padding: 3rem;
}

.section-certificate{
  padding:3rem;

  background-image: url('../../image/10858.jpg');
  background-size:cover;
  background-position: center;
}
/* HOMEPAGE */
.nav {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.nav > li {
  position: relative;
  display: block;
}

.nav>li>a {
  position: relative;
  display: block;
  padding: 10px 15px;
}

.footer{
  padding:2rem 1.5rem;
  
  background-color: #7c7c7ca9;
  


}
.u-font-size-small{
  font-size:.75rem !important;
}

.u-margin-bottom-medium{
  margin-bottom: 2rem; }
  @media (max-width: 56.25em) {
    .u-margin-bottom-big {
      margin-bottom: 1rem; } }

.u-margin-bottom-big {
  margin-bottom: 4rem; }
  @media (max-width: 56.25em) {
    .u-margin-bottom-big {
      margin-bottom: 2rem; } }

/* Featured Component */
.u-width-800px-height-300px{
  width:1000px;
  height:400px;
}

.carousel-item .carousel-caption{
  display: flex !important;
  flex-direction: column;
  
  width:30%;
  
  top: 35%;
  left: 15%;
  bottom: auto;

  font-size: .8rem;

  color: black;
  
}


.carousel-item .carousel-caption h3{
  font-size: 1.2rem;

  text-transform:uppercase;
}
/* New Component */

.new__item--card{
  padding:1rem;
  padding-bottom:0;

  margin-left:.25rem;
  margin-right:.25rem;

  border-radius: 10px !important;

  border-color: rgb(233, 233, 233) !important;
}

.card-title{
  font-size: 1.25rem;
  font-weight: 700;
  color: #ffd772;
}

.new__item--card:hover .new__item--cardimg{
  transform: scale(1.1);
}

.new__item--cardimg{
  transform: scale(.9);

  border-radius: 50% !important;
  border: 1px solid gold;
  
  transition:400ms;
}

.card .new__item--button{
  
  background-color: #8c7f3b;
  color:white;

}


/* ListItem Component */
.pagination{
  justify-content: center;
}

.z-index-9999{
  z-index: 9999;
}

.u-color-transparent{
  background-color: transparent !important;
  color:inherit !important;
  border-color: transparent !important;
  border-bottom:none !important;
}

.u-color-transparent:hover{
  border-color: #e9ecef #e9ecef #dee2e6 !important;
}

.u-opacity-0{
  opacity: 0;
}

.u-margin-top-small{
  margin-top: .75rem;
}

.u-margin-top-medium{
  margin-top: 2rem;
}

.u-margin-top-big{
  margin-top: 4rem;
}



/* Item Component */
.group__button{
  padding-top:1rem;
  
} 

.group__button--font{
  font-size:.9rem !important;
}

.group__button--button{
  width:50%;

  background-color: inherit;
  
  border-radius: 100px;
  border:1px solid transparent;

  padding: .6rem .5rem;
  margin-left: .5rem;
  margin-right: .5rem;

  transition: 300ms;
  outline:none;

  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.2);
}

.group__button--button:focus{
  outline:none;
}


.group__button--button:hover{
  background-color: white;
  color:gold;
  border:1px solid gold;

  transform: translateY(-.1rem);
}

.group__button--button:active{
  transform: translateY(.25rem);

  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
}

.u-text-decoration-linethough{
  text-decoration: line-through;
}

.u-text-transform-uppercase{
  text-transform: uppercase;

  font-weight:700;
}

.item__price{
  padding:0 1rem;

  align-items: center;
  justify-content: center;
}

.item__price > * {
  padding: .5rem;
}

/* SpaService Component */

.service__item--img img{
  width:20rem;
  height:20rem;

  border-radius: 50%;

  /* background-image: url('../../image/cat-logo.jpg');
  background-size: cover;
  background-position: center; */
}

.service__item--img:hover .service__item--description{
  opacity: .7;

  transform: translateX(-50%) scale(1)
}

.service__item--description{
  top:0;
  left:50%;

  width:20rem;
  height:20rem;

  border-radius: 50%;

  text-align: center;

  background: goldenrod;

  transform: translateX(-50%) scale(.2);
  transition: 400ms;

  opacity: 0;

}

.service__item--description-text{
  top:50%;
  left:50%;

  width:15rem;

  color:white;

  transform: translate(-50%,-50%);
}

.service__list .react-multiple-carousel__arrow{
  background-color: transparent;
}

.service__list .react-multiple-carousel__arrow::before{
  color:black;
}

/* Footer Component */

.footer__list-info{
  text-decoration: none;
  list-style: none;
  padding-left: 0;
}

.footer__list-info__item{
  font-size:.9rem;
  
  padding: .5rem .5rem;
  padding-bottom: .5rem;
  
  border-bottom: 1px dashed gray;
}

.footer__list-social-network{
  font-size:2rem;

}

.footer__list-social-network--item:not(:last-child){
  margin-right:1rem;
}

.footer__logo{
  width:200px;
  height:150px;
  background-color: aqua;
}

/* Story component */
.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: .2;
  width: 100%;
  height: 100%;
  overflow: hidden; }
  .bg-video__content {
    height: 100%;
    width: 100%;
    object-fit: cover; }
.story {
  width: 65%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 3px;
  padding: 1.5rem 2rem;
  transform: skewX(-12deg); }
  .story__shape {
    width: 8rem;
    height: 8rem;
    background-color: lightblue;
    float: left;
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    transform: skewX(12deg);
    position: relative; }
  .story:hover .story__caption {
    opacity: 1;
    transform: translate(-50%, -50%); }
  .story:hover .story__img {
    transform: translateX(0) scale(1);
    filter: blur(3px) brightness(80%); }
  .story__img {
    height: 100%;
    transform: translateX(0rem) scale(1.2);
    transition: all .5s; }
  .story__caption {
    position: absolute;
    top: 50%;
    left: 50%;

    color: #fff;
    font-size:1rem;

    transform: translate(-50%, 20%);

    text-align: center;
    text-transform: uppercase;

    opacity: 0;
    transition: all .5s; }
  .story__text {
    font-size: 1rem;
    transform: translateX(1rem) skewX(12deg); }

    .story__row {
      max-width: 114rem;
      margin: 0 auto; }
      .story__row:not(:last-child) {
        margin-bottom: 4rem; }
        @media (max-width: 56.25em) {
          .story__row:not(:last-child) {
            margin-bottom: 2rem; } }
      @media (max-width: 56.25em) {
        .story__row {
          max-width: 50rem;
          padding: 0 3rem; } }
  .heading-tertiary{
    
  }

/* CartItem Component */

.cart-item{
  display:flex;
}

.cart-item__img{
  width:10rem;
  height:10rem;

  border-radius: 50%;


}

.cart-item .cart-item__content{
  position: relative;

  min-width: 65%;

  text-align: left;
}

  .cart-item__content .cart-item__button{
    position: absolute;
    top:0%;
    right:3%;

    
  }

.cart-item__button{
  text-align: right;
}
    

/* Cart Pages */

.cart__container{
  display: flex;
  width:100%;
  
}


.cart__left{
  flex-grow:1.5;

  padding: 1rem 2rem 1rem 5rem;
  background-color: lightblue;
}


.cart__right{
  flex-grow: 1;
  background-color: lightcoral;
}



/* ANIMATION */

.featured__carousel .featured__carousel-animation{
  animation: moveLeft 1s ease 0.75s;
    animation-fill-mode: backwards;

}
.featured__carousel .featured__carousel__button-animation{
  animation: moveBottom 1s ease 0.75s;
    animation-fill-mode: backwards;

}



@keyframes moveBottom {
  0% {
    opacity: 0;
    transform: translateY(10rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }
@keyframes moveLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  70% {
    opacity: 1;
    transform: translateX(2rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0); } }